<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dzone.module4">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NSG.NsgActivity"
            android:label="National Security Guard" />
        <activity
            android:name=".NSG.NsgOperationActivity"
            android:label="Operations" />
        <activity
            android:name=".NSG.NsgHistoryActivity"
            android:label="History" />
        <activity
            android:name=".NSG.NsgRankActivity"
            android:label="Rank Structure and Designation" />
        <activity android:name=".BSF.BSFactivity" />
        <activity
            android:name=".BSF.BSFmissionActivity"
            android:label="@string/title_activity_bsfmission"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BSF.BSFranksActivity"
            android:label="@string/title_activity_bsfranks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BSF.BSFmartyrsActivity"
            android:label="@string/title_activity_bsfmartyrs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NSG.NsgMartyrActivity"
            android:label="Martyrs" />
        <activity
            android:name=".NSG.NsgAboutActivity"
            android:label="About"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RPF.RpfActivity"
            android:label="Railway Police Force" />
        <activity
            android:name=".NDRF.NdrfActivity"
            android:label="National Disaster Rescue Force" />
        <activity
            android:name=".SPG.SpgActivity"
            android:label="Special Protection Group" />
        <activity
            android:name=".SPG.SpgAboutActivity"
            android:label="About"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NDRF.NdrfAboutActivity"
            android:label="About"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RPF.RpfAboutActivity"
            android:label="About"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RPF.RpfHistoryActivity"
            android:label="History"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SPG.SpgHistoryActivity"
            android:label="History"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NDRF.NdrfHistoryActivity"
            android:label="History"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NDRF.NdrfRankActivity"
            android:label="Rank Structure" />
        <activity
            android:name=".NDRF.NdrfDisResActivity"
            android:label="Disaster Response" />
        <activity
            android:name=".SPG.SpgOrganActivity"
            android:label="Organisation" />
        <activity
            android:name=".SPG.SpgMissionActivity"
            android:label="Mission"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RPF.RpfRankActivity"
            android:label="Rank Structure" />
        <activity
            android:name=".BSF.BSFaboutActivity"
            android:label="@string/title_activity_bsfabout"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>